// Background Colors
$body-bg: #f4f7fd;
$header-bg: #e0e5f1;
$footer-bg: #e0e5f1;

// Typography
$font-family-sans-serif: "poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue-primary: #2d52a8;
$blue-primary-dark: #386ee6;
$blue-secondary: #4880ff;
$blue-primary-light: #6a83be;
$blue-secondary-light: #9db3e8;
$grey-primary: #313945;
$grey-secondary: #3c4557;
$grey-primary-light: #697185;
$grey-secondary-light: #c5c8cf;
$light-primary: #e0e5f1;
$light-secondary: #f4f7fd;
$alert-fail: #f3a723;
$alert-fail-dark: #ff7e43;
$alert-fail-hover: #ff905d;
$alert-success: #b7ee40;


$white: #fff;
$black: #000;

$color-primary: #7380ec;
$color-danger: #ff7782;
$color-success: #41f1b6;
$color-warning: #ffbb55;
$color-white: #fff;
$color-info-dark: #7d8da1;
$color-info-light: #dce1eb;
$color-dark: #363949;
$color-light: rgba(132, 139, 200, 0.18);
$color-primary-variant: #111e88;
$color-dark-variant : #677483;
$color-background : #f6f6f9;
$card-border-radius: 2rem;
$border-radius-1 : 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;
$card-padding: 1.8rem;
$padding-1: 1.2rem;
$box-shadow: 0 2rem 3rem $color-light;
$border-radius: 0.6rem;
